@import "../../styles/base";

.cardMeal {
  display: flex;
  background-color: $bgAqua;
  border: 10px solid white;
  gap: 30px;
  border-radius: 10px;
  padding: 20px;
  margin-right: 100px;
  .cardMeal__desc {
    width: 500px;
    h1 {
      margin-bottom: 20px;
    }
  }
  .instructions {
    max-height: 200px;
    overflow-y: scroll;
  }
  .cardMeal__img {
    width: 400px;
    height: 400px;
    left: 130px;
    top: 50px;
    position: relative;
    background-position: center;
    background-size: cover;
  }
  .cardMeal__ingridients {
    margin-top: 40px;
  }

  .cardMeal__ingridientsContents {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
  }

  .cardMeal__cardIngridient {
    display: flex;
    align-items: center;
    gap: 5px;
    .cardIngridient__img {
      padding: 10px;
      margin-right: 20px;
      background-color: transparent;
      border-radius: 10px;
      box-shadow: 0px 1.7584840059280396px 4.396209716796875px 0px rgba(0, 0, 0, 0.15);
    }
    h3 {
      color: $textGray;
    }
  }

  .cardMeal__btnContainer {
    display: flex;
    justify-content: space-between;
    width: 300px;
    gap: 10px;
    margin: 20px 0;
    .cardMeal__btn {
      @include primary-button;
      width: 100%;
    }
  }
}
